<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <a class="navbar-brand text-white" href="@Url.Action("Index","Principal")"><b>PetSecure Veterinary </b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav col-md-12 ">

                <a class="nav-item nav-link active text-white" href="@Url.Action("Index","Principal")"><b> Inicio </b><span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link text-white" href="#about"><b>Acerca de </b></a>
                <a class="nav-item nav-link text-white" href="#contact"><b>Contacto</b></a>

                @if (User.IsInRole("Admin"))
                {
                    <a class="nav-item nav-link text-white" href="@Url.Action("Index","Users")"><b>Usuarios</b></a>
                    <a class="nav-item nav-link text-white" href="@Url.Action("Index","Veterinary")"><b>Medico</b></a>
                }

                @if (User.IsInRole("Owner"))
                {

                    <a class="nav-item nav-link text-white" href="@Url.Action("Index","Pets")"><b>Mascotas</b></a>
                }

                @if (User.IsInRole("Veterinary"))
                {
                    <a class="nav-item nav-link text-white" href="@Url.Action("Index","Consults")"><b>Consultas</b></a>
                }

                <a class="nav-item nav-link text-white" href="@Url.Action("Login","Account")"><b>Iniciar Sesion</b></a>
                <a class="nav-item nav-link text-white" href="@Url.Action("Register","Account")"><b>Registrarse</b></a>


            </div>
        </div>
    </nav>



    @RenderBody()
    <!--FOOTER-->
    <div class="container body-content">

        <footer class="text-dark">
            <h4 class="text-center">&copy; @DateTime.Now.Year - Mi Veterinaria </h4>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>